/*==========top-menu-bottom===========*/
.navbar-default {
    background-color: #2F3239;
    border-color: #2F3239;
    padding: 20px;
}

.navbar-brand > img {
    display: block;
    margin-top: -20px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 8px 25px 8px 25px;
    margin:5px 0px;
    border-radius: 3px;
    font-weight: bold;
    font-family: sans-serif;
}
.navbar-default .navbar-nav > li{
   margin: 0px 5px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #ff7361;
    border-radius: 3px;
    padding: 8px 25px 8px 25px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #ff7361;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #ff7361;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #2F3239 !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 230px;
    padding: 0px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 3px !important;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    margin-left: 30px;
}

.dropdown-menu > li > a {
    display: block;
    padding: 8px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-family: serif;
}

.welcome-part-one {
    background-color: #FF7361;
    padding-top: 51px;
    margin-top: -20px;
    padding-bottom: 35px;
}

.welcome-demop102 h2 {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    font-family: "FontAwesome";
}

.welcome-demop102 p {
    font-size: 15px;
    color: #fff;
    font-family: "FontAwesome";
    margin-top: 30px;
}

.button0239-item {
    margin-top: 50px;
}

.aboutus022 {
    padding: 8px 20px 8px 20px;
    background-color: #373B43;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 1px;
    outline: none;
}

.join92 {
    padding: 8px 20px 8px 20px;
    background-color: #373B43;
    color: #fff;
    font-weight: bold;
    border: none;
    margin-left: 25px;
    border-radius: 1px;
    outline: none;
}

.aboutus022:hover {
    background-color: #222;
}

.join92:hover {
    background-color: #222;
}