<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{components/headfragment :: head(titulo='Formulario Pregunta')}"></head>

<body>

<header th:replace="components/cabeceraFrag :: cabecera"></header>
<nav th:replace="components/menuLateral :: navbar"></nav>

<main class="container">
        <div class="row">
            <div class="col-md-7 m-auto">
                <div class="card form-pregunta">



    <!-- Formulario para publicar una pregunta -->
  <form class="card-body form-horizontal d-grid"  th:action="@{/preguntas/save}" enctype="multipart/form-data" th:object="${pregunta}" method="post" >
      <input type="hidden" th:field="*{id}">
      <input type="hidden" th:field="*{fechaPregunta}">
      <input type="hidden" th:field="*{votos}">
      <fieldset>
    <!-- Título de la pregunta-->
    <div class="form-group gap-2">
      <label class="control-label" for="tituloPregunta">Título de la pregunta:</label>
      <input id="tituloPregunta" name="tituloPregunta" type="text" placeholder="Título" class="form-control" th:field="*{tituloPregunta}" required>
      </div>
    
    <!-- Área de la pregunta -->
    <div class="form-group gap-2">
      <label class="control-label" for="textopregunta">Pregunta:</label>
      <div class="">                     
        <textarea class="form-control" id="textopregunta" name="textoPregunta" placeholder="Escribe aquí tu pregunta" th:field="*{textoPregunta}" style="height: 250px" required></textarea>
      </div>
    </div>
    
    <!-- Etiquetas -->
          <div class="form-group gap-2">
                  <label for="validationTagsThreshold" class="form-label">Categorías: </label>
                  <select class="form-select" id="validationTagsThreshold" name="tagsClearThreshold[]" multiple="true" data-allow-clear="true" data-suggestions-threshold="1"
                          th:field="*{categorias}" required>
                      <option disabled hidden value="">Elige una etiqueta</option>
                      <option th:each="categoria : ${categorias}" th:value="${categoria.getId()}" th:text="${categoria.getNombre()}">Nombre Etiqueta</option>
                  </select>
                  <div class="invalid-feedback">Por favor elige una etiqueta válida.</div>
          </div>
    
    <!-- Botón para añadir archivo -->
    <div class="form-group gap-2">
        <label class="control-label">Subir imagen:</label>
        <input class="form-control" type="file" name="image" accept="image/png, image/jpeg">
    </div>
    
    <!-- Button -->
    <div class="form-group gap-2">
        <button type="submit" class="btn btn-primary">Publicar</button>
        <a th:href="@{/preguntas/}" class="btn btn-outline-secondary">Cancelar</a>
    </div>
    
    </fieldset>
    </form>
                </div>
            </div>
        </div>

</main>

<!-- Optional JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

<script type="module">
    import Tags from "/js/tags.js";
    Tags.init("select[multiple]:not(#regular)");
</script>

</body>
</html>