<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="es_ES">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Estilos personalizados -->
    <link href="" type="text/css" rel="stylesheet">
    <title th:text="${tituloPregunta}">Pregunta</title>
</head>
<body>

<!-- Hacer un botón de EDIT y otro de DELETE -->

<div section class="container bg-light" style="width: 60%; margin:auto;">
        <div class="row">
                <!-- Cabecera de la pregunta -->
                <div class="row">
                        <div class="container-fluid">
                                <div class="row">
                                        <!-- Perfil de usuario -->
                                        <div class="col-8">
                                                <a href="#!" style="border: 2px; border-style: solid;">Img</a>
                                                <a href="/usuario/prefil/{id}">UsuarioQuePregunta</a>
                                        </div>
                                        <!-- Información de la publicación -->
                                        <div class="col-4">
                                                <div th:text="${pregunta.getFechaPregunta()}">Fecha de Pregunta</div>
                                                <div>X Views</div>
                                        </div>
                                </div>
                        </div>
                        <!-- Título de la pregunta -->
                        <h2 class="my-3" th:text="${pregunta.getTituloPregunta()}" >Título de la pregunta</h2>
                </div>

                <!-- Sección de la pregunta -->
                <section class="col-11 m-auto" style="text-align: justify;">
                        <p th:text="${pregunta.getTextoPregunta}" >Lorem ipsum dolor sit amet consectetur adipiscing elit sollicitudin, eget vestibulum sem facilisi auctor curabitur bibendum tellus, consequat ornare hendrerit primis vitae rhoncus donec. Eget facilisis ridiculus pharetra sodales vulputate ad elementum, scelerisque et blandit non nec aenean, vel auctor lacinia sapien dapibus molestie. Class at ligula accumsan auctor molestie lobortis quam egestas, pharetra dignissim est montes sem felis morbi habitasse laoreet, in sollicitudin ridiculus interdum hendrerit fusce gravida.
                
                                Diam quis senectus cum rutrum iaculis conubia placerat, dapibus aliquam litora magna augue arcu nam velit, non mattis himenaeos praesent sed luctus. In libero nascetur senectus pretium donec, sodales luctus non etiam pulvinar lectus, tempus nulla commodo torquent. Rutrum malesuada ridiculus sociosqu sodales ornare nam pharetra iaculis, rhoncus bibendum nostra natoque convallis class vel est turpis, neque nunc cubilia facilisis augue ligula et. Curabitur eu augue elementum semper ultrices lacus bibendum, fusce eget eros rutrum a pretium nullam proin, fames euismod cum egestas tempor ullamcorper.
                
                                Sociosqu pharetra egestas aenean morbi donec penatibus mi porta, aliquam sed elementum sagittis imperdiet per nostra. Venenatis bibendum ultrices etiam interdum porttitor mus proin purus sagittis, habitasse justo ut euismod at massa dignissim vestibulum pulvinar, montes neque felis condimentum sociis nisl augue turpis. Quam quisque dignissim dapibus tristique libero nec hac lectus at cum, ultricies mollis suspendisse id sociis dictum et egestas inceptos, aliquam odio hendrerit interdum urna neque auctor dictumst fusce. Dui primis magnis inceptos ante auctor eget arcu velit sem conubia lacinia sagittis tortor integer luctus, a vehicula lectus porta cras litora eros duis venenatis etiam dictum tempus commodo est.
                        </p>
                        <!-- Imagen de la pregunta (Si es que la tiene) -->
                        <div class="container">
                                <img src="/imagenes" alt="Imagen de la pregunta">
                        </div>

                        <!-- Sección de etiquetas y valoración -->
                        <section class="row my-2">
                                <!-- Etiquetas de la pregunta -->
                                <div class="col-4 align-self-center">
                                        <a href="#!" style="border: 2px; border-style: solid;">Tag1</a>  
                                        <a href="#!" style="border: 2px; border-style: solid;">Tag2</a>  
                                        <a href="#!" style="border: 2px; border-style: solid;">Tag3</a>  
                                        <a href="#!" style="border: 2px; border-style: solid;">Tag4</a>  
                                        <a href="#!" style="border: 2px; border-style: solid;">Tag5</a>  
                                </div>

                                <!-- Responder a la pregunta -->
                                <div class="col-4">
                                        <a class="container-fluid btn btn-primary" href="/upvote">Responder</a>
                                </div>
        
                                <!-- Valoración de la pregunta -->
                                <div class="col-4">
                                        <a class="btn btn-primary" href="/upvote">Like</a>
                                        <span>X Votos</span>
                                        <a class="btn btn-warning" href="/dislike">Dislike</a>
                                        <a class="btn btn-danger" href="/report">Report</a>
                                </div>       
                        </section>
                </section>

                        <!-- Sección de respuestas -->
                        <hr class="my-2">
                        <div class="my-3" >
                                <h4>Respuestas</h4>
                        </div>
                        <hr class="my-2">
                        <section>

                                <!-- Respuesta de un usuario -->
                                <div class="row">
                                        <div class="col-2">
                                                <!-- Información del usuario que responde -->
                                                <div class="row">
                                                        <a href="#!" style="border: 2px; border-style: solid;">Img</a>
                                                        <a href="/version1/prefil/{id}">UsuarioQueResponde</a>
                                                </div>
                                                <!-- Valoración de la respuesta -->
                                                <div class="row">
                                                        <a class="btn btn-primary" href="/upvote">Like</a>
                                                        <span>X Votos</span>
                                                        <a class="btn btn-warning" href="/dislike">Dislike</a>
                                                        <a class="btn btn-danger" href="/report">Report</a>
                                                </div>
                                                <div class="row">
                                                        <a class="container-fluid btn btn-primary" href="/upvote">Responder</a>
                                                </div>
                                        </div>
                                        <!-- Contenido de la respuesta -->
                                        <div class="col-10">
                                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sollicitudin, eget vestibulum sem facilisi auctor curabitur bibendum tellus, consequat ornare hendrerit primis vitae rhoncus donec. Eget facilisis ridiculus pharetra sodales vulputate ad elementum, scelerisque et blandit non nec aenean, vel auctor lacinia sapien dapibus molestie. Class at ligula accumsan auctor molestie lobortis quam egestas, pharetra dignissim est montes sem felis morbi habitasse laoreet, in sollicitudin ridiculus interdum hendrerit fusce gravida.
                
                                                        Diam quis senectus cum rutrum iaculis conubia placerat, dapibus aliquam litora magna augue arcu nam velit, non mattis himenaeos praesent sed luctus. In libero nascetur senectus pretium donec, sodales luctus non etiam pulvinar lectus, tempus nulla commodo torquent. Rutrum malesuada ridiculus sociosqu sodales ornare nam pharetra iaculis, rhoncus bibendum nostra natoque convallis class vel est turpis, neque nunc cubilia facilisis augue ligula et. Curabitur eu augue elementum semper ultrices lacus bibendum, fusce eget eros rutrum a pretium nullam proin, fames euismod cum egestas tempor ullamcorper.
                                        
                                                        Sociosqu pharetra egestas aenean morbi donec penatibus mi porta, aliquam sed elementum sagittis imperdiet per nostra. Venenatis bibendum ultrices etiam interdum porttitor mus proin purus sagittis, habitasse justo ut euismod at massa dignissim vestibulum pulvinar, montes neque felis condimentum sociis nisl augue turpis. Quam quisque dignissim dapibus tristique libero nec hac lectus at cum, ultricies mollis suspendisse id sociis dictum et egestas inceptos, aliquam odio hendrerit interdum urna neque auctor dictumst fusce. Dui primis magnis inceptos ante auctor eget arcu velit sem conubia lacinia sagittis tortor integer luctus, a vehicula lectus porta cras litora eros duis venenatis etiam dictum tempus commodo est.
                                                </p>
                                                <!-- Imagen de la pregunta (Si es que la tiene) -->
                                                <div class="container">
                                                        <img src="/imagenes" alt="Imagen de la pregunta">
                                                </div>
                                        </div>
                                        <hr>
                                </div>
                                        <!-- Sección de comentarios de respuesta -->
                                        <section class="row">
                                                <div class="col-2"> 
                                                        <h5>Comentarios</h5>
                                                        
                                                </div>
                                                <div class="col-10">

                                                        <!-- Comentario -->
                                                        <div class="row p-4 bg-info border border-4">
                                                                <div class="col-1">
                                                                        <!-- Información del usuario que comenta -->
                                                                        <div class="row">
                                                                                <a href="#!" style="border: 2px; border-style: solid;">Img</a>
                                                                                <a href="/version1/prefil/{id}">UsuarioQueResponde</a>
                                                                        </div>
                                                                </div>
                
                                                                <!-- Comentario y valoración -->
                                                                <div class="container col-11">
                                                                        <div class="col">
                                                                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sollicitudin, eget vestibulum sem facilisi auctor curabitur bibendum tellus, consequat ornare hendrerit primis vitae rhoncus donec. Eget facilisis ridiculus pharetra sodales vulputate ad elementum, scelerisque et blandit non nec aenean, vel auctor lacinia sapien dapibus molestie. Class at ligula accumsan auctor molestie lobortis quam egestas, pharetra dignissim est montes sem felis morbi habitasse laoreet, in sollicitudin ridiculus interdum hendrerit fusce gravida.
                                                                                </p>
                                                                        </div>
                                                                        
                                                                        <!-- Valoración del comentario -->
                                                                        <div class="row">
                                                                                <div class="col-5" >
                                                                                        <a class="btn btn-primary" href="/upvote">Like</a>
                                                                                        <span>X Votos</span>
                                                                                        <a class="btn btn-warning" href="/dislike">Dislike</a>
                                                                                        <a class="btn btn-danger" href="/report">Report</a>
                                                                                </div>
                                                                        </div> 
                                                                </div>
                                                        </div>        
                                                </div>

                                        </section>
                                        
                                        <hr class="my-4">

                                        <!-- Proxima Respuesta -->
                                        <div class="row">
                                                <div class="col-2">
                                                        <!-- Información del usuario que responde -->
                                                        <div class="row">
                                                                <a href="#!" style="border: 2px; border-style: solid;">Img</a>
                                                                <a href="/version1/prefil/{id}">UsuarioQueResponde</a>
                                                        </div>
                                                        <!-- Valoración de la respuesta -->
                                                        <div class="row">
                                                                <a class="btn btn-primary" href="/upvote">Like</a>
                                                                <span>X Votos</span>
                                                                <a class="btn btn-warning" href="/dislike">Dislike</a>
                                                                <a class="btn btn-danger" href="/report">Report</a>
                                                        </div> 
                                                        <div class="row">
                                                        <a class="container-fluid btn btn-primary" href="/upvote">Responder</a>
                                                </div>
                                                </div>
                                                <!-- Contenido de la respuesta -->
                                                <div class="col-10">
                                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sollicitudin, eget vestibulum sem facilisi auctor curabitur bibendum tellus, consequat ornare hendrerit primis vitae rhoncus donec. Eget facilisis ridiculus pharetra sodales vulputate ad elementum, scelerisque et blandit non nec aenean, vel auctor lacinia sapien dapibus molestie. Class at ligula accumsan auctor molestie lobortis quam egestas, pharetra dignissim est montes sem felis morbi habitasse laoreet, in sollicitudin ridiculus interdum hendrerit fusce gravida.
                        
                                                                Diam quis senectus cum rutrum iaculis conubia placerat, dapibus aliquam litora magna augue arcu nam velit, non mattis himenaeos praesent sed luctus. In libero nascetur senectus pretium donec, sodales luctus non etiam pulvinar lectus, tempus nulla commodo torquent. Rutrum malesuada ridiculus sociosqu sodales ornare nam pharetra iaculis, rhoncus bibendum nostra natoque convallis class vel est turpis, neque nunc cubilia facilisis augue ligula et. Curabitur eu augue elementum semper ultrices lacus bibendum, fusce eget eros rutrum a pretium nullam proin, fames euismod cum egestas tempor ullamcorper.
                                                
                                                                Sociosqu pharetra egestas aenean morbi donec penatibus mi porta, aliquam sed elementum sagittis imperdiet per nostra. Venenatis bibendum ultrices etiam interdum porttitor mus proin purus sagittis, habitasse justo ut euismod at massa dignissim vestibulum pulvinar, montes neque felis condimentum sociis nisl augue turpis. Quam quisque dignissim dapibus tristique libero nec hac lectus at cum, ultricies mollis suspendisse id sociis dictum et egestas inceptos, aliquam odio hendrerit interdum urna neque auctor dictumst fusce. Dui primis magnis inceptos ante auctor eget arcu velit sem conubia lacinia sagittis tortor integer luctus, a vehicula lectus porta cras litora eros duis venenatis etiam dictum tempus commodo est.
                                                        </p>
                                                        <!-- Imagen de la pregunta (Si es que la tiene) -->
                                                        <div class="container">
                                                                <img src="/imagenes" alt="Imagen de la pregunta">
                                                        </div>
                                                </div>
                                                <hr>
                                        </div>

                                        <!-- Proxima Respuesta -->


                        </section>
        
        </div>



</div>




<!-- Optional JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>
</html>