
<div th:fragment="navbar" class="full-height">
  <nav  class="main-menu d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;" >
    <ul class="nav nav-pills flex-column mb-auto" >
      <li >
        <a href="/home">
          <i class="bi bi-house-fill " ></i>
          <span class="nav-text"> <h4 class="tipo2">Inicio </h4></span>
        </a>

      </li>
      <li >
        <a href="/ejercicios">
          <i class="bi bi-journals"></i>
          <span class="nav-text"> <h4 class="tipo2"> Ejercicios</h4>   </span>
        </a>
      </li>
      <li >
        <a href="/preguntas">
          <i class="bi bi-chat-left-text"></i>
          <span class="nav-text"><h4 class="tipo2"> Foro  </h4>   </span>
        </a>

      </li>
      <li >
        <a href="/calendario">
          <i class="bi bi-calendar-check"></i>
          <span class="nav-text"> <h4 class="tipo2"> Calendario   </h4>     </span>
        </a>

      </li>
      <li >
        <a href="/usuario/perfil">
          <i class="bi bi-person-fill-gear"></i>
          <span class="nav-text"> <h4 class="tipo2">Ajustes de perfil </h4>  </span>
        </a>
      </li>
    </ul>

    <ul class="logout">
      <li >
        <form th:action="@{/logout}" method="post">
          <i class="bi bi-box-arrow-right"></i>
          <input type="submit" value="Logout" />
        </form>
      </li>
    </ul>
  </nav>
</div>
