.calendar-table {
    margin: 100px auto;
    width: 80%;
    border-collapse: separate;
    border-spacing: 5px;
}

.calendar-table th {
    border-radius: 0.5em;
    text-align: center;
    background-color: #F8F9FA;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #000000;
}

.calendar-table td {
    border-radius: 0.5em;
    text-align: center;
    background-color: #F8F9FA;
    padding: 20px;
    border: 1px solid #000000;
}

.calendar-table td a {
    text-decoration: none;
    color: #000000;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sinTexto {
    visibility: hidden;
}

.calendarCabecera th {
    background-color: #ffa620;
}

.conPuntos {
    background-color: #fbff1d !important;
}

.sinPuntos {
    background-color: #fd1515 !important;
}

.arrow {
    font-size: 35px;
    cursor: pointer;
}

.title-container {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    color: white;
}

.title-container h2 {
    font-size: 35px;
    margin: 0 20px 0 20px;
    color: white;
    font-weight: bold;
}

.titleN{
    visibility: hidden;
    display: none;
}