
main {
margin-top: 150px;
margin-left: 60px;
margin-right: 60px;
}

.main-menu:hover,nav.main-menu.expanded {
width:300px;
overflow:visible;
}

.main-menu {
background:#212121;
border-right:1px solid #e5e5e5;
position:fixed;
top:0;
bottom:0;
height: 100vh;;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu:hover .nav-text{
display: table-cell;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:none;
vertical-align:middle;
width:190px;
font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#000000;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}


/*Cabecera*/
.header-bg {  /* IMAGEN NARANJA PARA FONDO DE LA CABECERA*/
  background-image: url('/image/fondo-cab.png');
  background-size: cover;
  background-position: center;
}
.logo { /* TAMAÑO DEL LOGO DE CABECERA*/
  width: 15%;
  height: 15%;
}
body { /* FONDO AZUL DEL BODY */
  background-image: url('/image/bg.png');
  background-repeat: repeat;
  background-size: cover;
}

 /* PERFIL */
  .header{ /* Fondo detras de la imagen de avatar */
  text-align: center;
  height: 500px;
  padding:12px;
  background-image: url('/image/fondoperfil.jpg');
background-size: cover;
  }

  .avatar{ /* Foto de perfil*/
  width: 200px;
  height: 200px;
  border-radius: 50%;
  }
 .username{ /* estilos de texto */
 font-size: 22px;
 margin-top: 14px;
 color: white;
 }
 .datos{
 list-style: none;
 text-align: center;
 padding: 0;
  }

 .datos li{
display: inline-block;
 margin: 5px;
 }

 .about{
 padding: 10px;
 }

/*PREGUNTAS*/
.bd-placeholder-img {
font-size: 1.125rem;
 text-anchor: middle;
 -webkit-user-select: none;
-moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
 .bd-placeholder-img-lg {
  font-size: 3.5rem;
   }
 }

.b-example-divider {
 width: 100%;
 height: 3rem;
 background-color: rgba(0, 0, 0, .1);
 border: solid rgba(0, 0, 0, .15);
 border-width: 1px 0;
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
 flex-shrink: 0;
 width: 1.5rem;
height: 100vh;
}

.bi {
 vertical-align: -.125em;
 fill: currentColor;
}

.nav-scroller {
position: relative;
z-index: 2;
height: 2.75rem;
overflow-y: hidden;
}

.nav-scroller .nav {
 display: flex;
 flex-wrap: nowrap;
padding-bottom: 1rem;
margin-top: -1px;
 overflow-x: auto;
text-align: center;
white-space: nowrap;
 -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
--bd-violet-bg: #712cf9;
--bd-violet-rgb: 112.520718, 44.062154, 249.437846;
--bs-btn-font-weight: 600;
--bs-btn-color: var(--bs-white);
--bs-btn-bg: var(--bd-violet-bg);
--bs-btn-border-color: var(--bd-violet-bg);
--bs-btn-hover-color: var(--bs-white);
--bs-btn-hover-bg: #6528e0;
--bs-btn-hover-border-color: #6528e0;
--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
--bs-btn-active-color: var(--bs-btn-hover-color);
--bs-btn-active-bg: #5a23c8;
--bs-btn-active-border-color: #5a23c8;
    }

.bd-mode-toggle {
 z-index: 1500;
      }

 .gradient-custom {
/* fallback for old browsers */ background: #4facfe; /* Chrome 10-25,
Safari 5.1-6 */ background: -webkit-linear-gradient(to bottom right, rgba(79, 172, 254,
 1), rgba(0, 242, 254, 1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+,
Safari 7+ */ background: linear-gradient(to bottom right, rgba(79, 172, 254, 1), rgba(0,
242, 254, 1))
   }

/* Etiquetas */

body {
font-family: sans-serif;
 }

.mb-3 {
margin-bottom: 1em;
 }

     /* CALENDARIO*/

    .ftco-section {
         padding: 7em 0;
    }

    .heading-section {
       font-size: 28px;
       color: #000;
    }
    .calendar, .calendar_weekdays, .calendar_content {
        max-width: 450px; }

    .calendar {
     margin: auto;
     font-weight: 400; }

      .calendar_content {
        background: #fff; }

      .calendar_weekdays {
        background: #1089ff; }

      .calendar_header {
        padding: 10px 0; }

      .calendar_content, .calendar_weekdays, .calendar_header {
        position: relative;
        overflow: hidden; }

      .calendar_weekdays div {
        display: inline-block;
        vertical-align: top;
        color: #fff !important; }

      .calendar_weekdays div, .calendar_content div {
        width: 14.28571%;
        overflow: hidden;
        text-align: center;
        background-color: transparent;
        color: #000;
        font-size: 16px;
        padding: 15px 0; }

      .calendar_content div {
        border: 1px solid transparent;
        float: left;
        position: relative;
        z-index: 0; }

      .calendar_content div:hover {
        border: 1px solid #dcdcdc;
        cursor: default; }

      .calendar_content div.blank:hover {
        cursor: default;
        border: 1px solid transparent; }

      .calendar_content div.past-date {
        color: #d5d5d5; }

      .calendar_content div.today {
        font-weight: bold;
        font-size: 16px;
        color: #fff !important; }
     calendar_content div.today:after {
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          bottom: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          content: '';
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin: 0 auto;
          background: #1089ff;
          z-index: -1;
          -webkit-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
          -moz-box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48);
          box-shadow: 0px 5px 11px -9px rgba(0, 0, 0, 0.48); }

     .calendar_content div.selected {
        background-color: #f0f0f0; }

     .calendar_header {
        width: 100%;
        text-align: center; }

     .calendar_header h2 {
        padding: 0 10px;
        font-weight: 500;
        font-size: 20px;
        color: #1089ff;
        float: left;
        width: 70%;
        margin: 0 0 10px; }

     button.switch-month {
            background-color: transparent;
            padding: 0;
            outline: none;
            border: none;
            color: #dcdcdc;
            float: left;
            width: 15%;
            -webkit-transition: color .2s;
            -o-transition: color .2s;
            transition: color .2s; }

     button.switch-month:hover {
            color: #1089ff; }


    /* FORO */

    .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
          }

    @media (min-width: 768px) {
     .bd-placeholder-img-lg {
              font-size: 3.5rem;
      }
    }

    .b-example-divider {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
     flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
    }

          .bi {
              vertical-align: -0.125em;
              fill: currentColor;
              font-size: 2em;
              margin-right: 1em;
              margin-left: 0.5em
          }
          .bilog{
          font-size: 1em;
          }


          .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
          }

          .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
          }

          .btn-bd-primary {
            --bd-violet-bg: #712cf9;
            --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

            --bs-btn-font-weight: 600;
            --bs-btn-color: var(--bs-white);
            --bs-btn-bg: var(--bd-violet-bg);
            --bs-btn-border-color: var(--bd-violet-bg);
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-hover-bg: #6528e0;
            --bs-btn-hover-border-color: #6528e0;
            --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
            --bs-btn-active-color: var(--bs-btn-hover-color);
            --bs-btn-active-bg: #5a23c8;
            --bs-btn-active-border-color: #5a23c8;
          }
          .bd-mode-toggle {
            z-index: 1500;
          }
          .gradient-custom {
            /* fallback for old browsers */ background: #4facfe; /* Chrome 10-25,
            Safari 5.1-6 */ background: -webkit-linear-gradient(to bottom right, rgba(79, 172, 254,
            1), rgba(0, 242, 254, 1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+,
            Safari 7+ */ background: linear-gradient(to bottom right, rgba(79, 172, 254, 1), rgba(0,
            242, 254, 1))
            }

            #imgPerfil{
                height: 80px;
                width: auto;
            }
/* TIPOGRAFIAS*/


.btn{
font-family: "Khand";
}

.video.portada{
 width: 100%;
}

  #imgPerfil{
        height: 80px;
        width: auto;
        }

p{
font-family: "Khand";
}

.respuestas{
font-family: "Khand";
}

.card-text.enunciado{
font-family: "Khand";
font-size: 24px;
}

.modaltxt{
font-family: "Khand";
font-size: 24px;
}

h1{
font-family: "Pridi";
font-weight: 600;
}

.modal-title{
font-family: "Pridi";
font-size: 30px;
}

h2{
font-family: "Comfortaa";
}

h3{
font-family: "Comfortaa";
}

.card.form-pregunta{
 background:#212121;
}

.imgportada{
width: 100%;
}

.tipo2{
font-family: "Pridi";

}

.card{
background-image: url('/image/fondocard.png');
box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.50);

}

.usus{
font-family: "Pridi";
font-size : 20px;
font-weight: 600;
color: #F79824 ;
 text-shadow: 2px 2px #666666;
}

.datosforo{
font-weight: bold;
}

.etiquetas{
font-family: "Khand";
font-size : 20px;
color: #F79824;
font-weight: bold;
text-shadow: 2px 2px #666666;
}
 .prevpregunta{
 font-weight: bold;
 text-shadow: 2px 1px #666666;
 }

.mb-1{
font-family: "Comfortaa"

}

.oso{
filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.75));
}

.username{
 text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
}

.text-light{
filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.75));
 text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
}