<!DOCTYPE html>
<html xmlns:th="thymeleaf.org"
      xmlns:layout="ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head th:replace="~{components/headfragment :: head(titulo='Home')}"></head>


<body>

<header th:replace="~{components/cabeceraFrag :: cabecera(usuario=${usuario})}"></header>
    <nav th:replace="~{components/menuLateral :: navbar}"></nav>


    <main class="container" >
        <div class="bg-light border rounded-3 p-3" style="margin-left:50px">
            <video class="video portada" src="/image/videokosso.mp4" controls></video>
            <div class="card">

                <div class="card-body">

                    This is some text within a card body.

                </div>

            </div>
        </div>
    </main>





</body>
</html>