<!doctype html>

<html xmlns:th="thymeleaf.org"
      xmlns:layout="ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head th:replace="~{components/headfragment :: head(titulo='Home')}"></head>

<body>

<header th:replace="components/cabeceraFrag :: cabecera"></header>
<nav th:replace="components/menuLateral :: navbar"></nav>


<div class="container-fluid pb-3 flex-grow-1">
    <div class="row">
        <main class="col">
            <div class="d-flex align-items-center justify-content-center h-100 ">
                <div class="card"
                     style="margin-top: 200px;background-image: url('/image/bg-form.png'); box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.75);">
                    <div class="card-header">
                        <h5 class="card-title" style="color: white; font-family: Khand ">Registro de Usuario</h5>
                    </div>

                    <div th:if="${param.success}">
                        <div class="alert alert-info" style=" font-family: Khand">
                            ¡Te has registrado correctamente!
                        </div>
                    </div>

                    <div class="card-body" style=" font-family: Khand">
                        <form th:action="@{/usuario/registro}" th:object="${usuarioDto}" method="POST" enctype="utf8"
                              role="form" style="color: white">
                            <div>
                                <label class="form-label" for="firstName">Nombre</label>
                                <input type="text" class="form-control" th:field="*{firstName}" id="firstName"
                                       name="firstName" placeholder="Pepe" required/>
                                <p th:errors="*{firstName}" class="text-danger"
                                   th:if="${#fields.hasErrors('firstName')}"></p>
                            </div>

                            <div>
                                <label class="form-label" for="lastName">Apellidos</label>
                                <input type="text" class="form-control" th:field="*{lastName}" id="lastName"
                                       name="lastName"
                                       placeholder="Martínez Hernández" required/>
                                <p th:errors="*{lastName}" class="text-danger"
                                   th:if="${#fields.hasErrors('lastName')}"></p>
                            </div>

                            <div>
                                <label class="form-label" for="email">Email</label>
                                <input type="email" class="form-control" th:field="*{email}" id="email" name="email"
                                       placeholder="pepe.mh@gmail.com" required/>
                                <p th:errors="*{email}" class="text-danger"
                                   th:if="${#fields.hasErrors('email')}"></p>
                            </div>

                            <div>
                                <label class="form-label" for="password">Contraseña</label>
                                <input type="password" class="form-control" th:field="*{password}" id="password"
                                       name="password"
                                       placeholder="Introduce una contraseña" required/>
                                <p th:errors="*{password}" class="text-danger"
                                   th:if="${#fields.hasErrors('password')}"></p>
                            </div>

                            <div class="form-group" style=" margin-top: 2em;">
                                <button class="btn btn-primary" type="submit">Registrarse</button>
                                <span>¿Ya estás registrado? <a th:href="@{/login}">Accede a tu cuenta</a></span>
                            </div>
                        </form>
                    </div>
                </div>
        </main>
    </div>
</div>


<!-- Optional JavaScript -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

</body>

</html>


