<!doctype html>

<html lang="es_ES">

<head>

    <!-- Required meta tags -->

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">


    <!-- Custom Styles -->

    <link href="" type="text/css" rel="stylesheet">


    <title>tuProgreso.html</title>
    <style>
    .progress-vertical {
        height: 200px; /* set the desired height */
        display: flex;
        flex-direction: column-reverse; /* reverse the order of progress bars */
    }
    .progress-vertical .progress-bar {
        transform-origin: bottom center;
        transform: rotate(-90deg); /* rotate the progress bar */
    }
    </style>

</head>

<body>
<!--TODO crear html dinámico que agrupe las barras por meses, semanas y días | Definir de donde vienen los datos con lo cuales vamos a trabajar en esta vista | Añadir thymeleaf para que los datos de progreso se muestren aquí-->

<!-- Page Heading -->
    <div class="container align-items-center justify-content-between mb-4">
        <h1 class="mb-4 text-dark">Tu Progreso</h1>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="mes" id="mes" autocomplete="off" checked> Mes
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="semana" id="semana" autocomplete="off"> Semana
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="dia" id="dia" autocomplete="off"> Dia
            </label>
        </div>
        <div>
            <ul>
                <li>
                    <a href="preguntas/pregunta-list.html" class="text-dark"><i
                            class="fas fa-download fa-sm text-white-50"></i>Foro de preguntas</a>
                </li>
                <li>
                    <a href="perfilesyusuarios/perfil.html" class="text-dark"><i
                            class="fas fa-download fa-sm text-white-50"></i>Volver</a>
                </li>
            </ul>
        </div>
    </div>
<!--Barras de progreso genericas-->

    <main class="col overflow-auto h-100">
        <div class="bg-light border rounded-3 p-3">
            <h2>Tu Progreso</h2>
            <div class="progress progress-vertical"> <!-- add class progress-vertical -->
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Ejercicio 1</div>
            </div>
            <div class="progress progress-vertical"> <!-- add class progress-vertical -->
                <div class="progress-bar" role="progressbar" style="height: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress progress-vertical"> <!-- add class progress-vertical -->
                <div class="progress-bar" role="progressbar" style="height: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress progress-vertical"> <!-- add class progress-vertical -->
                <div class="progress-bar" role="progressbar" style="height: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="progress progress-vertical"> <!-- add class progress-vertical -->
                <div class="progress-bar" role="progressbar" style="height: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </main>

    <!-- Optional JavaScript -->

<script src="cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>

<script src="cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

</body>

</html>