<!DOCTYPE html>
<html xmlns:th="thymeleaf.org"
      xmlns:layout="ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head th:replace="~{components/headfragment :: head(titulo='Usuario')}"></head>

<body>

<header th:replace="components/cabeceraFrag :: cabecera(usuario=${usuario})"></header>
<nav th:replace="components/menuLateral :: navbar"></nav>

<div class="container mt-5">
    <div class="text-center">
        <h1>Tu Progreso General</h1>
    </div>
    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    Por Mes
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                        <div th:each="entry : ${respuestasByMonth}">
                            <h5 th:text="${entry.key}"></h5>
                            <div class="progress mb-3">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                     role="progressbar"
                                     th:attr="aria-valuenow=${entry.value},
                                     aria-valuemax=${progressBarEjercicioMax}"
                                     th:text="${entry.value + ' puntos'}"
                                     aria-valuemin="0"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item mt-3">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Por Semana
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                        <div th:each="entry : ${respuestasByWeek}">
                            <h5 th:text="${entry.key}"></h5>
                            <div class="progress mb-3">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                     role="progressbar"
                                     th:attr="aria-valuenow=${entry.value},
                                     aria-valuemax=${progressBarEjercicioMax}"
                                     th:text="${entry.value + ' puntos'}"
                                     aria-valuemin="0"></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="accordion-item mt-3">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Por Día
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                        <div th:each="entry : ${respuestasByDay}">
                            <h5 th:text="${entry.key}"></h5>
                            <div class="progress mb-3">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                                     role="progressbar"
                                     th:attr="aria-valuenow=${entry.value},
                                     aria-valuemax=${progressBarEjercicioMax}"
                                     th:text="${entry.value + ' puntos'}"
                                     aria-valuemin="0"></div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
      $('.progress-bar').each(function() {
        var min = $(this).attr('aria-valuemin');
        var max = $(this).attr('aria-valuemax');
        var now = $(this).attr('aria-valuenow');
        var siz = (now-min)*100/(max-min);
        $(this).css('width', siz+'%');
      });
    });
</script>
</body>
</html>